@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./buildings-city-cityscape-36369.jpg);
  background-size: cover;

}

.text-container h1 {
  font-size: 100px;
  color: rgba(225, 225, 225, .1);
  background-image: url("./tye-die.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: cover;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
  text-align: center;
  margin-top: 20%;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}
